<!--<div class="col-6">
    <h3>Select position</h3>
</div>

<div class="card-container">
    <div class="card-group">
        <div class="card">
            <a href="/loginStaff">
                <img src="../resources/staff-login.png" class="card-img-center" alt="..."
                    style="width: 100px; height: 100px;">
            </a>
            <div class="card-body">
                <h5 class="card-title card-txt-center" style="color: #3ab67d;">Staff Login</h5>
            </div>
        </div>
        <div class="card card-con-padding">
            <a href="/loginManagement">
                <img src="../resources/management-login.png" class="card-img-center" alt="..."
                    style="width: 100px; height: 100px;">
            </a>
            <div class="card-body">
                <h5 class="card-title card-txt-center" style="color: #3ab67d;">Management Login</h5>
            </div>
        </div>
    </div>
</div>-->



<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="../resources/login1.png" class="card-img-center" alt="..." style="width: 600px; height: 600px;">
        </div>
        <div class="col-sm" id="butn">
            <button   class="btn " id="btn1"> <a href="/loginStaff">Staff</a> </button>
            <button class="btn " id="btn2"> <a href="/loginManagement">Management</a> </button>
        </div>

    </div>
</div>
