<div class="container">

    <div class="d-flex" style="align-items: center;">

        <div class="">
            <img src="../resources/login1.png" class="card-img-center" alt="..." style="width: 600px; height: 600px;">
        </div>

        <div class="btn-groups" style="margin-left: auto; margin-right: auto;">
            <a href="/loginStaff" type="button" class="btn btn-primary" style="width: 280px;">Staff</a>
            <a href="/loginManagement" type="button" class="btn btn-primary" style="width: 280px;">Management</a>
            <a href="/suplog" type="button" class="btn btn-primary" style="width: 280px;">Supplier</a>
        </div>

    </div>

</div>