<div class="container-log">
<div class="col-6">
        <h3>STAFF LOGIN</h3>
        <h6>Please enter your login credentials</h6>
    </div>

    <form method="POST" action="/staffLoginValidation" class="needs-validation" novalidate>
        <div class="col-8">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" class="form-control" id="validationCustom01" name="stUsername"
                aria-describedby="emailHelp" required>
            <div class="invalid-feedback">
                Please enter your username
            </div>
        </div>
        <div class="col-8">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="validationCustom02" name="stPassword"
                aria-describedby="emailHelp" required>
            <div class="invalid-feedback">
                Please enter your password
            </div>
        </div>


        <button style="background-color: #3ab67d; margin-top  : 30px;" type="submit" class="btn ">Login</button>
    </form>

</div>

<script>

    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()

</script>