<div class="home-container">

    <figure class="text-center home-heading-container">
        <blockquote class="blockquote home-heading">
            <h2>Browse Our Systems</h2>
        </blockquote>
    </figure>
    <div class="card-container">
        <div class="card-group">
            <div class="card">
                <a href="https://www.w3schools.com">
                    <img src="../resources/requisition-img.png" class="card-img-center" alt="..."
                        style="width: 100px; height: 100px;">
                </a>
                <div class="card-body">
                    <h5 class="card-title card-txt-center">Requisition Managment</h5>
                </div>
            </div>
            <div class="card card-con-padding">
                <a href="https://www.w3schools.com">
                    <img src="../resources/home-order-img.png" class="card-img-center" alt="..."
                        style="width: 100px; height: 100px;">
                </a>
                <div class="card-body">
                    <h5 class="card-title card-txt-center">Order Managment</h5>
                </div>
            </div>
            <div class="card card-con-padding">
                <a href="https://www.w3schools.com">
                    <img src="../resources/home-payment-img.png" class="card-img-center" alt="..."
                        style="width: 100px; height: 100px;">
                </a>
                <div class="card-body">
                    <h5 class="card-title card-txt-center">Payment Managment</h5>
                </div>
            </div>
            <div class="card card-con-padding">
                <a href="https://www.w3schools.com">
                    <img src="../resources/home-supplier-img.png" class="card-img-center" alt="..."
                        style="width: 100px; height: 100px;">
                </a>
                <div class="card-body">
                    <h5 class="card-title card-txt-center">Supplier Managment</h5>
                </div>
            </div>
            <div class="card card-con-padding">
                <a href="https://www.w3schools.com">
                    <img src="../resources/home-managment-img.png" class="card-img-center" alt="..."
                        style="width: 100px; height: 100px;">
                </a>
                <div class="card-body">
                    <h5 class="card-title card-txt-center">Managment</h5>
                </div>
            </div>
        </div>
    </div>


</div>