

#butn{
    margin-top: 190px;
    padding-left: 200px;
}


#btn1{
    width: 60%;
    margin-bottom: 40px;
   
}



#btn1{
    display: block;
    background-color: #3ab67d;
    margin-bottom: 100px;
    width: 56%;
    

}

#btn2{
    display: block;
    background-color: #3ab67d;
    margin-bottom: 100px;
    width: 56%;
    
}



